@font-face {
	font-family: 'OpenSauceTwo';
	src:
	local('OpenSauceTwo'),
	url('/fonts/OpenSauceTwo-Regular.woff2') format('woff2');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'OpenSauceTwo';
	src:
		local('OpenSauceTwo'),
		url('/fonts/OpenSauceTwo-Medium.woff2') format('woff2');
	font-weight: 500;
	font-display: swap;
}
@font-face {
	font-family: 'OpenSauceTwo';
	src:
		local('OpenSauceTwo'),
		url('/fonts/OpenSauceTwo-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'OpenSauceTwo';
	src:
		local('OpenSauceTwo'),
		url('/fonts/OpenSauceTwo-Bold.woff2') format('woff2');
	font-weight: 700;
	font-display: swap;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
